.education-bar
  background-color: $lime-green
  border-radius: 6px
  color: white
  padding: 1em 1vw
  display: flex
  align-items: center
  margin-bottom: 10px

  select
    display: block

  h4
    margin: 0
    margin-right: 1em

  p
    margin: 0
    margin-right: 0.5em
