.educationApiPanel
  margin: 1em 0
  color: $lime-green
  background: #4c7452
  padding: 1em
  border-radius: 0.5em

  select
    font-size: 2em
    display: block
    margin: 0.5em 0
  
  b
    padding: 0.2em 0.5em
    background: $lime-green
    color: #fff
    border-radius: 0.2em