.field-guide-choice-list
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  max-width: 870px

  a
    text-decoration: none

  .field-guide-choice
    border: 1px solid #ccc
    border-radius: 3px
    font-weight: 700
    margin: 1em 0
    text-align: center
    width: calc(20% - 1em)

    @media screen and (max-width: 820px)
      width: calc(33% - 1em)

    @media screen and (max-width: 520px)
      width: calc(50% - 1em)

    .field-guide-choice-background
      background-position: center
      background-size: cover
      height: 150px

    .field-guide-choice-label
      border-radius: 3px
      color: #304d4d
      margin: 4px 8px
      line-height: 2.5em
      text-transform: capitalize

    &:hover .field-guide-choice-label
      background: #e2e2e2

.field-guide-entry
  color: #444
  width: 100%
  
  img
    width: 100%
    
  .field-guide-entry-title
    text-transform: capitalize

  .field-guide-entry-gallery
    display: flex
    flex-wrap: wrap

    > *
      flex-grow: 0
      padding: 1em
      width: 33%

  .field-guide-entry-scientific-name
    color: #666
    font-size: 1.5em
    font-style: italic
    font-weight: 300

  // Generic styles for use specifically in FG entry pages
  .field-guide-entry-content

    table
      width: 100%

      td:last-child
        text-align: right

      td, th
        padding: 5px 14px

      th
        font-size: 20px
        font-weight: 300
        text-align: left

      tr
        border-radius: 3px
        overflow: hidden

      tr:nth-child(2n)
        background-color: #e2e2e2

    .columns
      display: flex
      justify-content: space-around

      .column
        flex: 0 0 48%
        margin: 1em 0
        padding: 1em

  .field-guide-entry-sections
    column-count: 2
    column-width: auto

    .field-guide-entry-section
      display: inline-block
      padding: 1em

    .focus-box
      background: #008790
      color: white

    .field-guide-entry-section-content
      @extends p

.entry-link
  margin: 0 0.5em
