.field-guide-entry

  .field-guide-entry-gallery
    display: flex
    flex-wrap: wrap

    > *
      flex-grow: 0
      padding: 1em
      width: 33%

  // Generic styles for use specifically in FG entry pages
  .field-guide-entry-content

    .columns
      display: flex
      justify-content: space-between

      .column
        flex: 0 0 48%
        margin: 1em 0

    .fun-box
      background: #654
      padding: 1em

    .deets-box
      background: #654
      padding: 1em

    .deets-box span
      font-size: 20px

.entry-link
  margin: 0 0.5em
