.home-page
  color: white

  .home-content-container
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center
    margin: 0 auto
    max-width: 820px
    padding: 10em 3vw

  .home-call-to-action-button
    @extends $reset-button
    background-color: #8a9d56
    border: solid 2px #8a9d56
    border-radius: 4px
    line-height: 50px
    margin-bottom: 1em
    text-align: center
    width: 250px

    &.ghost-button
      background-color: transparent
      border: solid 2px #8a9d56

      &:hover
        background-color: lighten(#8a9d56, 10%)
        border-color: lighten(#8a9d56, 10%)

    &:hover
      background-color: lighten(#8a9d56, 10%)
      border-color: lighten(#8a9d56, 10%)

  .home-hero
    background: #333
    position: relative
    min-height: 100vh
    text-align: center
    width: 100%
    z-index: 0

    .tagline, .overview
      -moz-osx-font-smoothing: grayscale
      -webkit-font-smoothing: antialiased

    .logo
      max-width: 200px

    .tagline
      color: white
      font-size: 48px
      font-weight: 300
      line-height: 60px
      margin: 0.8em 0
      max-width: 735px
      text-align: center
      
      @media screen and (max-width: 400px)
        line-height: 40px

    .overview
      line-height: 1.6em
      margin: 1em 0
      max-width: 735px

  .home-hero-background
    background: url('assets/hhmi-home-background.jpg') no-repeat center center
    background-size: cover
    height: 100%
    opacity: 0.8
    position: absolute
    width: 100%
    pointer-events: none
    z-index: -1

  .home-organization-credit
    background-color: #efefef
    color: #304d4d
    min-height: 50px
    padding: 5px 3vw
    width: 100%

    .home-organization-credit-container
      align-items: center
      display: flex
      flex-wrap: wrap
      justify-content: space-around
      margin: 0 auto
      max-width: 980px
      width: 100%

      .hhmi-logo
        max-height: 120px
        max-width: 120px
        vertical-align: middle

      .park-logo
        margin: 1em 3vw
        max-height: 99px
        max-width: 100px
        vertical-align: middle

      .hhmi-credit
        margin: 1em 3vw
        max-width: 480px
        text-align: center
