@require 'nib'

*
  box-sizing: border-box

@require 'app'
@require 'main-header'
@require 'main-footer'

@require 'dialog'
@require 'loading-indicator'
@require 'tooltip'
@require 'slide-tutorial'
@require 'project-metadata'

@require 'home'

@require 'classify'
@require 'task'
@require 'progress-bar'

@require 'secondary-page'
@require 'field-guide'
