@require 'nib'

@require 'app'
@require 'main-header'
@require 'main-footer'

@require 'dialog'
@require 'loading-indicator'
@require 'tooltip'
@require 'slide-tutorial'

@require 'home'

@require 'classify'
@require 'task'
@require 'progress-bar'

@require 'secondary-page'
