.project-metadata
  background-color: #4c7452
  color: #f7f7f7
  height: 100%
  min-height: 199px
  padding: 2em 3vw
  text-align: center
  width: 100%
    
  .project-metadata-header
    color: #efd59c
    font-weight: 400
    margin: 0 0 2em
    text-transform: capitalize
    
    .project-name
      font-weight: 700
      text-transform: capitalize
      
  .project-metadata-container
    align-items: center
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    margin: 0 auto
    max-width: 960px
    width: 100%
    
    .project-metadata-section-header
      color: #efd59c
      font-weight: 400
      margin: 0
      text-transform: capitalize
      
    .project-metadata-number
      font-size: 2em
      font-weight: 700
      margin: 0
    