.secondary-page
  color: white
  margin: 0 auto
  max-width: 880px
  min-height: 100vh
  padding: 100px 3vw

  a
    color: #D49F6A

    &:hover
      color: #FFD4AA

  img
    display: block
    margin: 0 auto
    max-width: 100%

  .organizations
    display: flex
    flex-wrap: wrap

    .organization
      margin: 2rem 0
      width: 100%

    .organization-content
      display: flex

      p
        margin: 0
        width: 80%

      .organization-logo
        padding: 0 3rem
        width: 20%
